<!DOCTYPE html>
<html lang="ro">
<%- include("../fragmente/head") %>
<body>
    <%- include("../fragmente/header") %>
    <main>
        <section>
            <h2><%= titlu %></h2>
            <p><%= text %></p>
            <img src="<%= imagine %>" alt="Eroare" style="max-width: 400px;">
        </section>
    </main>
    <%- include("../fragmente/footer") %>
</body>
</html>